
# IDE files
.idea/

# Node.js stuff
node_modules/

# Passenger env
tmp/

# Bower components
/public/bower_components

# Theme assets
/public/themes/html5up-strongly-typed/css
/public/themes/html5up-strongly-typed/fonts

# We don't want to version our internationalization content
/app/data/i18n/*.yml

# Misc files
*.bak

