[general]
; no trailing slash!
baseUrl =
; no trailing slash!
bowerComponentsUrl = /bower_components
blogUrl = http://journal.alinareyes.net/

[database]
host = localhost
username = alinareyes
password = alinareyes
dbname = alinareyes

[theme]
; no trailing slash!
themeUrl = /themes/html5up-strongly-typed

[debug]
livereload = true
livereload.port = 35729

[books]
cover.small.url = %base-url%/books/%book-slug%.landscape.jpg
cover.large.url = http://alinareyes.net/img/books/%book-slug%.big.jpg
preview.page.url = http://alinareyes.net/img/books/preview/%book-slug%/page-%page-num%.png
ebook.file.path = %app-root-path%/app/data/ebooks/%book-slug%.%book-format%
ebook.file.name = %book-title%.%book-format%

[stripe]
public_key = xxxxx
private_key = xxxxx
siteName = AlinaReyes.net
currency = EUR