<div class="book-full-display col-sm-8">
    <h2><%= book.getTitle(locale) %></h2>
    <div class="book-cover">
        <img src="<%= book.getPictureUrl() %>" alt="<%= book.getTitle(locale) %>">
    </div>
</div>
<div class="book-full-display-sidebar col-sm-4">
    sidebar
</div>
