<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav clearfix">
        <li class="home active"><a href="<%= baseUrl %>/"><span>Accueil</span></a></li>
        <li class="blog"><a href="<%= appConfig.general.blogUrl %>" target="_blank"><span>Journal</span></a></li>
        <li class="about"><a href="#"><span>A propos</span></a></li>
    </ul>
</nav>