<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav clearfix">
        <li class="home active"><a href="#"><span>Accueil</span></a></li>
        <li class="books"><a href="#"><span>Livres</span></a></li>
        <li class="blog"><a href="#"><span>Journal</span></a></li>
        <li class="about"><a href="#"><span>A propos</span></a></li>
    </ul>
</nav>